#header {
    background: var(--background-color);
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.icon {
    padding: 10px;
}

.icon:hover {
    cursor: pointer;
}

.header-title {
    margin: auto;
}

