.map {
  background-color: rgba(0, 0, 0, 0.5);
}

.map-container {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 100%;
  grid-template-areas: 'side map';
}

.side {
  background-color: rgba(158, 42, 42, 0.5);
  grid-area: side;
}

.map {
  grid-area: map;
}
