.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #000133;
}

.main {
  flex: 1;
  background: #f7f5f5;
}

.container {
  display: flex;
  flex: 1;
}
