#App {
  text-align: center;
  display: grid;
  grid-template-areas:
    'header header '
    'side content'
    'footer footer';
  grid-template-columns: 10% 90%;
  grid-template-rows: 10% 80% 10%;
  color: #000133;
  width: 100vw;
  height: 100vh;
}

#main {
  background: #08092f;
  color: #fc86aa;
  grid-area: content;
}

#side {
  grid-area: side;
}

#header {
  grid-area: header;
}

#footer {
  grid-area: footer;
}
